.addTransactionContainer
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.379);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
}

.transactionType
{
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-evenly;
}

.transactionType div h4
{
    padding: 0 1rem;
}

.transactionType div
{
    cursor: pointer;
}

.underline
{
    height: 2px;
    width: 100%;
    border-radius: 100%;
}